.searchHeadingContainer{

    height: 10em;
  display: flex;
  align-items: center;
  justify-content: center

}
.imggrid {
  width: 200px; /* You can set the dimensions to whatever you want */
  height: 300px;
  object-fit: cover;
}

