.searchHeadingContainer{

  height: 10em;
display: flex;
align-items: center;
justify-content: center

}
.imggrid {
width: 200px; /* You can set the dimensions to whatever you want */
height: 300px;
object-fit: cover;
}




@media only screen and (max-width: 400px){
  .jumbotron{
   display:none;

  
}
}

@media only screen and (max-width: 400px) {
  .searchbox{
    min-height: 100vh;
    display:flex;
justify-content: center;
align-items: center;  }


}
body { padding-top: 70px; }


